.navbar-mobile {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.navbar-identity {
  color: #ff8800;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: middle;
}

.navbar-hamburger {
  vertical-align: middle;
}
